<div class="main">
    <h1>Метеорологический сервис архива погоды</h1>
    <h4>Данный ресурс предназначен для получения информации о погодных условиях города Москва. Архив погоды в Москве содержит статистику погоды за 2010 - 2013гг., которую можно отфильтровать по месяцам/годам или загрузить свой архив для актуализации базы данных. Погода переменчива и фактические исторические данные о погодных явлениях иногда могут помочь больше, чем прогноз.</h4>
</div>
    <div id="spinner">
        Loading...
    </div>